atomicwrites==1.3.0
attrs==19.1.0
CacheControl==0.12.5
cachy==0.2.0
certifi==2019.6.16
chardet==3.0.4
cleo==0.6.8
Click==7.0
coverage==4.5.4
fastapi==0.38.0
h11==0.8.1
html5lib==1.0.1
httptools==0.0.13
idna==2.8
importlib-metadata==0.19
jsonschema==3.0.2
lockfile==0.12.2
more-itertools==7.2.0
msgpack==0.6.1
# Editable install with no version control (nest==0.1.0)
-e /Users/inspectorio/Projects/nest
packaging==19.1
pastel==0.1.1
pkginfo==1.5.0.1
pluggy==0.12.0
poetry==0.12.17
py==1.8.0
pydantic==0.32.2
pylev==1.3.0
pyparsing==2.4.2
pyrsistent==0.14.11
pytest==5.1.2
pytest-cov==2.7.1
requests==2.22.0
requests-toolbelt==0.8.0
shellingham==1.3.1
six==1.12.0
starlette==0.12.8
tomlkit==0.5.5
urllib3==1.25.3
uvicorn==0.8.6
uvloop==0.12.2
wcwidth==0.1.7
webencodings==0.5.1
websockets==7.0
zipp==0.6.0
